
            @font-face {
                font-family: 'Cabin-VariableFont';
                src: url("../font/Cabin-VariableFont.woff2") format('woff2');
            }
            *{
			    font-family: 'Cabin-VariableFont';
			    line-height:1;
			    font-size: 300px;
			    font-variation-settings:"wdth" 400 
			}